<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <script>
        $(function(){
            var vue = new Vue({
                el:'#app',
                data:{
                    title:'[퀴즈] 코스모 중국집 주문',
                    checkMenu:[], //checkbox에서 선택한 항목의 value와 연결됨
                    menus:["짜장면", "짬뽕", "탕수육", "양장피", "볶음밥"],
                    prices:[4000,5000,12000,25000,6000]
                }
            });
        });
    </script>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>

        <h3>메뉴선택</h3>
        <input type="checkbox" value="0" v-model="checkMenu" />{{menus[0]}}
        <input type="checkbox" value="1" v-model="checkMenu" />{{menus[1]}}
        <input type="checkbox" value="2" v-model="checkMenu" />{{menus[2]}}
        <input type="checkbox" value="3" v-model="checkMenu" />{{menus[3]}}
        <input type="checkbox" value="4" v-model="checkMenu" />{{menus[4]}}

        <h3>주문내용</h3>
        <ul>
            <!--
                체크박스로 선택한 항목의 index값을 이용해서 메뉴를 출력한다.
            -->
            <li>주문내용 : {{menus[checkMenu[0]]}}
                {{menus[checkMenu[1]]}}
                {{menus[checkMenu[2]]}}
                {{menus[checkMenu[3]]}}
                {{menus[checkMenu[4]]}}
            </li>

            <!--
                선택한 항목의 가격을 합산한다.
                isNaN() : Not a number. 즉 인자로 주어진 데이터가 숫자가
                    아닌경우 true를 반환한다.
                Number() : JS에서 문자열을 숫자로 변환해주는 함수이다.
            -->
            <li>총비용 : {{
                (checkMenu[0]!=null&&!isNaN(checkMenu[0]) ?
                    Number(prices[checkMenu[0]]) : 0 ) +
                (checkMenu[1]!=null&&!isNaN(checkMenu[1]) ?
                    Number(prices[checkMenu[1]]) : 0 ) +
                (checkMenu[2]!=null&&!isNaN(checkMenu[2]) ?
                    Number(prices[checkMenu[2]]) : 0 ) +
                (checkMenu[3]!=null&&!isNaN(checkMenu[3]) ?
                    Number(prices[checkMenu[3]]) : 0 ) +
                (checkMenu[4]!=null&&!isNaN(checkMenu[4]) ?
                    Number(prices[checkMenu[4]]) : 0 ) }} 원
            </li>
        </ul>
    </div>
</body>
</html>