<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        $(function(){
            var vue = new Vue({
                el:'#app',
                data:{
                    title:'checkbox를 통한 CSS 연동',
                    s1 : false, s2 : false, s3 : false,
                    score : 0
                },
                computed : {
                    info : function(){
                        if(this.score >=1 && this.score <=100)
                            return {warning:false};
                        else
                            return {warning:true};
                    }
                }
            });
        });
    </script>
</head>
<body>
    <style>
        .set1 { background-color: aqua; color: purple;}
        .set2 { text-align: center; width: 120px;}
        .set3 { border: sandybrown dashed 1px;}

        .score { border: solid 1px black;}
        .warning { background-color: orange; color: purple;}
        .warnimage { width: 18px; height: 18px; top: 5px; position: relative;}
    </style>
    <div id="app">
        <h2>{{title}}</h2>

        <!-- 
            클래스 적용형태
            :class = "{클래스명:true, 클래스명:false}"
            :class = "{클래스명:모델1, 클래스명:모델2}"
                v-model="모델1"
                v-model="모델2"
            입력값에 따라 클래스에 대한 적용여부가 변경될 수 있다.
         -->
        <button :class="{set1:s1, set2:s2, set3:s3}">
            클래스 적용버튼1
        </button>
        <br>
        <button v-bind:class="{set1:s1, set2:s2, set3:s3}">
            클래스 적용버튼2
        </button>
        <!-- 
            checkbox인 경우 check되었을때의 value값을 즉시 적용시킬 수 있다.
         -->
        <p>
            <input type="checkbox" v-model="s1" value="true" />set1 디자인
            <br>
            <input type="checkbox" v-model="s2" value="true" />set2 디자인
            <br>
            <input type="checkbox" v-model="s3" value="true" />set3 디자인
            <br>
        </p>

        <div>
            <p>1부터 100까지만 입력가능합니다.</p>
            <div>
                점수 : <input type="text" class="score"
                v-model.number="score" v-bind:class="info" />
                <!-- 모델데이터인 score의 변화에 따라 아래 이미지는 보임/숨김 처리된다. -->
                <img src="img/error.png" class="warnimage"
                v-show="info.warning" />
            </div>
        </div>
             
    </div>
</body>
</html>